<html>
<head>
</head>
<body>
	<div id="wrapper">
        <div id="container">
			<h1>Récapitulatif du mail:</h1>
			Nom: {{nom}}<br>
			Prénom: {{prenom}}<br>
			Mail: {{email}}<br>
			Téléphone: {{telephone}}<br>
			Message: {{message|nl2br}}<br>
		</div>
	</div>
</body>
</html>